/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

@use '../../helpers/variables' as var;

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}
