/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

@use '../../helpers/variables' as var;

header {
    .logo {
        div {
            $size: 35px;

            width: $size;
            height: $size;
            border-radius: 50%;
            display: inline-block;

            &:nth-of-type(1) {
                background-color: var.$purple_light;
            }

            &:nth-of-type(2) {
                background-color: var.$purple_transparent;
                margin-left: -20px;
            }
        }
    }

    h1 {
        font-family: Montserrat;
        font-weight: 700;
        color: var.$purple_light;
        font-size: 1.3rem;
        margin-left: .5em;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        .logo {
            margin-left: 5em;

            body.email & {
                margin-left: initial;
            }

            div {
                &:nth-of-type(1) {
                    background-color: var.$white;

                    body.email & {
                        background-color: var.$purple_light;
                    }
                }
            }
        }

        h1 {
            color: var.$white;

            body.email & {
                color: var.$purple_light;
            }
        }
    }
}
