/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

@use '../../helpers/variables' as var;

.button-group {
    form & {
        margin-top: 3em;

        span {
            display: block;

            &:nth-of-type(1) {
                margin-bottom: 1em;
            }
        }
    }

    &.home {
        span {
            display: block;

            &:nth-of-type(1),
            &:nth-of-type(2) {
                display: inline-block;
                margin: 6em 1em;

                a {
                    color: var.$grey_2;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .button-group {
        form & {
            margin-top: 3em;

            span {
                display: inline-block;

                &:nth-of-type(1) {
                    margin-bottom: intial;
                    margin-right: .5em;
                }
            }
        }

        &.home {
            span {
                &:nth-of-type(1) {
                    margin-left: 0;
                }
                
                &:nth-of-type(2) {
                    margin-left: 1em;
                }

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    margin-top: 5em;
                    margin-bottom: 5em;
                }
            }
        }
    }
}
