/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

@use '../../helpers/variables' as var;

main {
    form {
        ul {
            list-style: none;
            padding: 0;

            .error {
                color: var.$red_error;
                font-size: .85em;
                margin-top: .7em;
            }

	    .forgot-password-link {
		margin-top: 1em;

		a {
		    color: var.$grey_2;
		}
	    }

            li {
                &:nth-of-type(1) {
                    label {
                        margin-top: 0;
                    }
                }

                label {
                    display: block;
                    margin: 2em auto 1em;
                }

                input[type="text"],
                input[type="password"] {
                    color: var.$grey_2;
                    border: none;
                    border-bottom: 1px solid var.$grey_3;
                    width: 80%;
                    text-align: center;
                    padding: .3em 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    main {
        form {
            ul {
                li {
                    input[type="text"],
                    input[type="password"] {
                        width: 70%;
                        text-align: left;
                    }
                }
            }
        }
    }
}
