/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

@use '../../helpers/mixins' as mix;
@use '../../helpers/variables' as var;

main {
    @include mix.col(10, 12);
    margin: 0 auto;
    font-family: Roboto;
    color: var.$grey_3;
    text-align: center;
    min-height: 65vh;
}

@media only screen and (min-width: 1024px) {
    main {
        @include mix.col(4, 12);
        margin-left: calc((1 / 12) * 100%);
        text-align: left;
    }
}
