/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

@use '../../helpers/variables' as var;
@use '../../helpers/mixins' as mix;

main {
    h2 {
        font-family: Montserrat;
        font-weight: 700;
        color: var.$grey_3;
        font-size: 1.5rem;
        margin: 2em auto;
	line-height: 1.5em;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        h2 {
            margin: 3em 0 1.5em;
            font-size: 2.5rem;
	    width: 90%;

            body.email & {
                margin-top: 2em;
		width: initial;
            }
        }
    }
}
