/*
|--------------------------------------------------------------------------
| LICENSE
|--------------------------------------------------------------------------
| Code that written below is belong to Zain Alwan Wima Irfani. You may
| not use, share, modify, and study without the author's permission
| (zainalwan4@gmail.com).
*/

$app_url: "http://127.0.0.1:8000";

$purple_light: #505cdb;
$purple_dark: #414dc6;
$purple_transparent: #9cabf79e;
$red_error: #d01b35;
$white: #fff;

$grey_1: #a5a5a7;
$grey_2: #747477;
$grey_3: #3a3a3f;
